@import '../Style/variable.scss';

$todo-font-weight: 200;

.todoapp {
  margin: 130px 0 40px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

  input {
    &::placeholder {
      font-style: italic;
      font-weight: $font-weight-base;
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

.todoapp-title {
  top: -140px;
  font-size: $font-size-title;
  font-weight: $todo-font-weight;
  color: $font-red-dark;
  text-rendering: optimizeLegibility;
}
